<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout :: head" ></head>

    <body class="bg-light">
        <nav th:replace="layout :: navbar"></nav>
        <div class="container-fluid">
            <div class="p-4 p-md-5 mb-4 mt-2 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4">About var4Astro</h1>
                    <p class="lead my-3">Tool for cataloguing astrophotometric
                        data with the purpose of archiving variable star observations.</p>
                </div>
            </div>
            <div class="col-md-12 bg-white">
                <div class="row mt-3 ms-2">
                    <div class="col-md-8">
                        <h2 id="app">Application</h2>
                        <p class="blog-post-meta text-secondary">Last updated 18.04.2022</p>
                        <p>
                            The application parses and stores the csv data from the
                            <a href="https://www.gxccd.com/cat?id=146&lang=409">SIPS</a> software. Its aim
                            is to utilize the photometrical data from the observations.
                            It persists stars along with its flux values, the data for a star can then be queried.
                        </p>
                        <p>
                            The tool is work in progress. Current version provides no cross-identification
                            between the catalogues, so the advised catalogue to use is UCAC4.
                        </p>
                        <h2 id="usage">Usage</h2>
                        <p>
                            The application provides the ability to upload the data and to query the data. To upload data
                            an authentication with a Google account is required. After the first sign-in you will be asked
                            to choose a username and a profile will be created. A description text field can be used to
                            publish some information for other users.
                        </p>
                        <h4 id="uploading">File uploading</h4>
                        <p>
                            The application allows uploading photos from the SIPS software in form of csv files. Image
                            below displays the required data to include. The mandatory fields: the columns and the time
                            of the exposure are displayed in red. The columns with deviaton values are not mandatory.
                            However, they are recommended to include as they allow for deviation calculations for the light
                            curves.
                            <img  th:src="@{/images/csvFileExample.png}" alt="CSV example">
                        </p>
                        <h4 id="searching">Searching for objects</h4>
                        <h4 id="presentation">Light curve presentation</h4>
                        <h2 id="project">Project</h2>
                        <p>The app's initial version was developed as part of a bachelor's
                            thesis in cooperation with Pavel Cagaš and Miloslav Zejda.</p>
                        <h2 id="ack">Acknowledgements</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mt-3 me-3">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Table of contents</h5>
                                <div class="mx-3 my-3 fs-4">
                                    <div>1 <a href="#app">Application</a></div>
                                    <div>2 <a href="#usage">Usage</a></div>
                                    <div><div class="ms-3">2.1 <a href="#uploading">File uploading</a></div></div>
                                    <div><div class="ms-3">2.2 <a href="#searching">Searching for objects</a></div></div>
                                    <div><div class="ms-3">2.3 <a href="#presentation">Light curves</a></div></div>
                                    <div>3 <a href="#usage">Project</a></div>
                                    <div><div class="ms-3">3.1 <a href="#ack">Acknowledgements</a></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>




        <script th:src="@{js/highlight-active.js}"></script>

    </body>

</html>