<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body class="bg-light">
<nav th:replace="layout :: navbar"></nav>
<div class="container-fluid">
    <div class="row my-4">
        <div class="col-md-8">
            <div class="row mb-3 justify-content-end">
                <div class="col-md-9">
                    <h1 th:text="${catalogId}"></h1>
                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-lg dropdown-toggle"
                                data-bs-toggle="dropdown">
                            Users
                        </button>
                        <div id="userDropDownMenu" class="dropdown-menu">
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <h5 class="text-center">Include</h5>
                                    <div class="input-group px-3 mt-2">
                                        <select class="form-select" th:size="${#lists.size(users)+2}"
                                                id="wantedUsersSelect"
                                                aria-label="User select" style="width: 500px">
                                            <option th:each="user : ${users}" th:value="${user}"
                                                    th:id="${user}" th:text="${user}" draggable="true">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 align-self-center">
                                    <h5 class="text-center">Exclude</h5>
                                    <div class="input-group px-3 mt-2">
                                        <select class="form-select" th:size="${#lists.size(users)+2}"
                                                id="unwantedUsersSelect"
                                                aria-label="User select" style="width: 500px">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 mb-2">
                                <div class="col-md-9 ms-3 align-self-center">
                                    <h6>Drag users to select them</h6>
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <button class="btn btn-primary" onclick="filterUsers()">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary">Download CSV</button>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover" id="fluxTable">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">Right Ascension</th>
                    <th class="text-center">Declination</th>
                    <th class="text-center">Exposure begin</th>
                    <th class="text-center">Exposure end</th>
                    <th class="text-center">Aperture auto</th>
                    <th class="text-center">Apertures</th>
                    <th class="text-center">Uploaded by</th>
                </tr>
                </thead>
                <tr th:each="flux : ${fluxes}">
                    <td class="text-center" th:text="${flux.RA}"></td>
                    <td class="text-center" th:text="${flux.dec}"></td>
                    <td class="text-center" th:text="${flux.expBegin}"></td>
                    <td class="text-center" th:text="${flux.expEnd}"></td>
                    <td class="text-center" th:text="${flux.apAuto}"></td>
                    <td class="text-center">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-secondary" id="aperturesDropdown"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Show apertures
                            </a>
                            <div class="dropdown-menu" aria-labelledby="aperturesDropdown">
                                <ol class="list-group list-group-numbered">
                                    <th:block th:each="aperture: ${flux.apertures}">
                                        <li class="list-group-item" th:text="${aperture}"></li>
                                    </th:block>
                                </ol>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <a th:text="${flux.username}" th:href="${'/profile/?id=' + flux.userId}">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script th:src="@{js/usersSelect.js}"></script>
<script th:src="@{js/highlightActive.js}"></script>
</body>

</html>