<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">

    <head th:replace="layout :: head"></head>

    <body class="bg-light">
        <nav th:replace="layout :: navbar"></nav>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img class="img-thumbnail rounded-circle" th:src="@{/images/person.svg}"
                                     alt="profile logo" width="160" height="180">
                            </div>
                        </div>
                        <hr class="mx-4"/>
                        <div class="card-body align-items-center text-center">
                                <h3 th:text="${user.username}"></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h2>Profile</h2>
                    <h5>Add additional info for others:</h5>
                    <textarea class="form-control" id="textArea" rows="6"></textarea>
                </div>
            </div>
        </div>
        <script th:src="@{/js/highlightActive.js}"></script>
    </body>

</html>