<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">

    <head th:replace="layout :: head"></head>
    <body class="bg-light d-flex flex-column min-vh-100">
        <nav th:replace="layout :: navbar"></nav>
        <main class="flex-fill">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img class="img-thumbnail rounded-circle" th:src="@{/images/person.svg}"
                                     alt="profile logo" width="160" height="180">
                            </div>
                        </div>
                        <hr class="mx-4"/>
                        <div class="card-body align-items-center text-center">
                                <h3 th:text="${user.username}"></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h2>Profile</h2>
                    <h5>About user:</h5>
                    <textarea readonly class="form-control" id="textArea" rows="6" th:text="${user.description}">
                    </textarea>
                    <div class="mt-3 d-md-flex justify-content-md-end">
                        <button th:if="${userUploads}" class="mx-2 btn btn-outline-dark btn-lg"
                                data-bs-toggle="modal" data-bs-target="#logModal">
                            Upload logs
                        </button>
                        <div class="modal fade" id="logModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true"
                             style="max-height: 100%">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="d-grid gap-2">
                                            <th:block th:each="upload: ${userUploads}">
                                                <button class="btn btn-outline-secondary "
                                                        type="button" data-bs-toggle="collapse"
                                                        th:data-bs-target="${'#collapse' + upload.getId()}"
                                                        aria-expanded="false"
                                                        aria-controls="collapseExample"
                                                        th:text="${upload.getUploadTime() + ' ' +
                                                        upload.getNumOfSuccessful() + '/' + upload.getNumOfFiles()
                                                        + ' files uploaded successfuly'}">
                                                </button>
                                                <div class="collapse" th:id="${'collapse' + upload.getId()}">
                                                        <th:block th:each="fileError: ${upload.getFileErrorMessagePairsList()}">
                                                            <p class="mx-2"
                                                               th:text="${fileError.getFirst() + ': ' +fileError.getSecond()}">
                                                            </p>
                                                        </th:block>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/profile/}">
                            <input type="hidden" name="editable" value="true">
                            <button th:if="${currentUserSignedIn}" type="submit"
                                    class="btn btn-outline-primary btn-lg">
                                Edit profile
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/highlight-active.js}"></script>
        </main>
        <footer th:replace="layout :: footer"></footer>
    </body>
</html>