<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout :: head"></head>

    <body class="bg-light">
        <nav id="navbar" th:replace="layout :: navbar"></nav>
        <div class="container-fluid">
            <div class="my-3" style="width: 200px;">
                <h3>Upload</h3>
            </div>
            <div class="row">
                <div id="mainColumn" class="col-md-6" >
                    <label for="fileSubmitter" class="form-label">
                        Select all the files you wish to upload:
                    </label>
                    <div class="row">
                        <div class="col mb-3">
                            <input id="fileSubmitter" class="form-control" type="file" name="file" multiple>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="submitButton" onclick="uploadFiles()" disabled> Upload Files </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="progress" id="progressBar" style="visibility: hidden">
                                <div class="progress-bar" id="uploadProgress" role="progressbar" style="width: 0"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="d-flex align-items-center">
                                <div class="spinner-border spinner-border-sm" id="progressSpinner"
                                     role="status" style="visibility: hidden"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div id="processingSign" class="col-auto" style="visibility: hidden">
                            <h5>Processing files</h5>
                            <p>You can find the results later in profile -> Upload logs.</p>
                        </div>
                        <div class="col-auto">
                            <i id="processingCheck" class="bi bi-check-lg" style="visibility: hidden"></i>
                            <div id="processingSpinner" class="spinner-border spinner-border-sm"
                                 role="status" style="visibility: hidden"></div>
                        </div>
                        <p id="processingMessage" style="visibility: hidden"> files saved successfully.</p>
                    </div>
                    <div class="scrollable mt-4" id="uploadMessages"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
        <script th:src="@{js/highlight-active.js}"></script>
        <script th:src="@{js/upload-files.js}"></script>
        <script th:src="@{js/enable-submit-button.js}"></script>
    </body>

</html>