<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout :: head"></head>

    <body>
        <nav id="navbar" th:replace="layout :: navbar"></nav>
        <div class="container-fluid">
            <div class="my-3" style="width: 200px;">
                <h3>Upload</h3>
            </div>
            <div class="row">
                <div id="mainColumn" class="col-md-6" >
                    <label for="fileSubmitter" class="form-label">
                        Select all the files you wish to upload:
                    </label>
                    <div class="row">
                        <div class="col mb-3">
                            <input id="fileSubmitter" class="form-control" type="file" name="file" multiple>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="submitButton" onclick="uploadFiles()" disabled> Upload Files </button>
                        </div>
                    </div>
                    <div class="progress" id="progressBar" style="visibility: hidden">
                        <div class="progress-bar" id="uploadProgress" role="progressbar" style="width: 0"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="scrollable mt-4" id="uploadMessages">
                    </div>

<!--                    <div th:if="${message}">-->
<!--                        <p th:text="${message}"/>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <script th:src="@{js/highlightActive.js}"></script>
        <script th:src="@{js/uploadFiles.js}"></script>
        <script th:src="@{js/enableSubmitButton.js}"></script>
    </body>

</html>